@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /*note 滚动条*/
  /* 定制滚动条的宽度和背景颜色 */
  div::-webkit-scrollbar {
    width: 12px; /* 滚动条的宽度 */
    background-color: #FFEFBF; /* 滚动条的背景颜色 */
  }

  /* 定制滚动条拇指的样式 */
  div::-webkit-scrollbar-thumb {
    background-color: #ffc000; /* 拇指的颜色 */
    border-radius: 6px; /* 拇指的圆角 */
    border: 3px solid #FFEFBF; /* 拇指的边框和滚动条背景色相同，可以创造“内嵌”效果 */
  }

  /* 定制滚动条轨道的样式 */
  div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a79314; /* 轨道的阴影效果 */
    border-radius: 10px; /* 轨道的圆角 */
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/*note 目前适配 1024x768 1440x900  1600x900  1920x1080 2560x1440*/
@media (min-width: 1024px) {
  html {
    font-size: 15px; /* 提高字体大小 */
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 18px; /* 提高字体大小 */
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 16px; /* 提高字体大小 */
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 20px; /* 提高字体大小 */
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 26px; /* 提高字体大小 */
  }
}
